body{
    background-color: #F7F5F5;	/*#0B4570*/
}

.texto-dorado{
	color: #CAB276;
}

.interior-acordeon{
	background-color: #F7EEDC;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	}

#side-carousel img {
	margin: 0 auto;
}

.footer-blurb {
    padding: 30px 0;
    margin-top: 20px;
    background-color: #eee;
    color: black;
}
    
.footer-blurb-item {
    padding: 20px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.small-print {
	text-align: center;
	}

.negritas{
	font-weight: bold;
}

.texto-blanco{
	color: white;
}


.encabezado{
	background-image: linear-gradient(#CAB276, #FFF);
}

.item{
	background-image: linear-gradient(#000, #FFF);	
}

.justificado{
	text-align : justify;
}


.fondo-dorado-leve{
	background-color:  #EEE7D4;
}

.texto-negritas{
	font-weight: bold;
}

.texto-dorado-fuerte{
  color: #8E7C54;
}

.oblique {
    font-style: oblique;
}
.caja-centrado{
	margin-right:auto
}
